{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/product_upload" class="btn btn-primary">Back</a>
            <div class="alert alert-danger" role="alert">
               {{msg}}
              </div>
        </div>
        <div class="row">
            <div class="col lg-6">
                <form action="/createcategory" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="" class="form-label">Category Name</label>
                        <input type="text" class="form-control" name="cat" id="" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>