{% load static %}
<html>
    <head>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
<div class="container">
  <div class="row">
    <div class="col">
      {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <h4 style="color: brown;">{{ message }}</h4>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
  {% endif %}
    </div>

  </div>
  <div class="row mt-2 justify-content-center">
    <div class="col-lg-6 border shadow p-3 rounded">
      <h2  style="color: rgb(9, 11, 12);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">USER LOGIN</h2>
        <form action="User_login" method="POST" class="form-group">
          {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form2Example1"  name="email" class="form-control" />
              <label class="form-label" for="form2Example1">Email address</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2"  name="password" class="form-control" />
              <label class="form-label"  for="form2Example2">Password</label>
            </div>
          
   
          
            <!-- Submit button -->
            <button type="submit"  class="btn btn-dark form-control" >Sign in</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p  style="color: rgb(6, 67, 121);">Not a member? <a href="User_reg"  style="color: rgb(7, 39, 68);">Register</a></p>
              
            </div>
          </form>

    </div>
  </div>
</div>
          
        
    </body>
</html>