
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <style>
        .card-row {
        display: flex;
        
      }
  
      .card {
        width: 25%;
        height:750px;
        padding: 20px;
        border: 3px solid #c9c9c9;
        border-color: #110f12;
       background-image: url({% static 'images/cardbg.webp' %});
       
        
        border-radius: 7px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        Float:left;
       
      }
      h6{
        color: aliceblue;
      }
      #mlink:hover{
        color: blue;
        text-decoration: underline;
      }
    </style>
</head>
<body style="background-color: black; background-image: url({% static 'images/walle.jpg' %}); background-repeat:no-repeat;background-size:cover">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-image: url('{% static 'images/item3.jpg' %}');">
        <a class="navbar-brand" style="color: rgb(244, 100, 10);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="#">SPORTS EASY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" id="mlink" style="color: white;" href="user_home_view">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="mlink" style="color: white;" href="user_turf_view">Turf</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mlink" style="color: white;" href=" turf_my_booking">My Bookings</a>
              </li>
             
            
            
         
              
        
          </ul>
        
        <div>
        <form class="form-inline my-2 my-lg-0">
          <a class="nav-link" id="mlink"  style="color:red;" href="/user_logout">LOGOUT</a>
        </form>
      </div>
     <div>
   
     </div>
    </div>
    </nav>
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
   {% endif %}
   {% for i in view %}
<div class="card">
<form action="turf_cancel_book" method="POST" class="card-body">
    {% csrf_token %}
     <div style="margin-top: 10px;">
      <img  src="{{i.turf.timg.url}}" style=" border-radius: 10px; border: 3px solid  ;border-color: #6EE2F5;" width="100%" height="130px">
        <h4 style="color: rgb(11, 8, 8);margin-top:9px; " ><b>{{i.turf.tname}}</b></h5>
        <div style="height: 150px;">
        <p style="color: rgb(8, 5, 5);width: 300px;height: 70px;"  >{{i.turf.tdetails}}</p></div>
        <input  id="tid"  name="bid" value="{{i.id}}"hidden/>
        <h6 style="color: rgb(15, 9, 9);" >turf id: {{i.turf.id}}</h6>
        <h6 style="color: rgb(15, 9, 9);" >Mobile: {{i.turf.tmob}}</h6>
        <h6 style="color: rgb(15, 9, 9);" >email:{{i.turf.temail}}</h6>
        <h6 style="color: rgb(15, 9, 9);" >Turf Location: <a href="{{i.turf.tloc}}">{{i.turf.tloc}}</a></h6>
        <h6 style="color: rgb(15, 9, 9);" >Turf Address: {{i.turf.taddress}}</h6>
        <h6 style="color: rgb(15, 9, 9);" >District: {{i.turf.dist}}</h6>
        <h6 style="color: rgb(15, 9, 9);" >Booked Date: {{i.bdate}}</h6>
        <h6 style="color: rgb(15, 9, 9);" >slot: {{i.stime}}-{{i.etime}}</h6>
        <h6 style="color: rgb(15, 9, 9);" >book id: {{i.id}}</h6>
        </div>
        <div style="margin-top: 10px;">
          <button  type="submit" style="border-radius: 10px; background-image:url({% static 'images/btn.jpg' %});border-color:burlywood;box-shadow:yellow;">CANCEL BOOK </button> 
        </div> 
  </form> </div>{% endfor %} 
   
    
  
</body>
</html>

      